<!-- *** FOOTER ***
_________________________________________________________ -->
<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Pages</h4>

                <ul>
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="category.html">Catalogue</a>
                    </li>
                </ul>

                <hr>

                <h4>User section</h4>

                <ul>
                    <li><a href="#" data-toggle="modal"
                           data-target="#login-modal">Login</a>
                    </li>
                    <li><a href="basket.html">Cart</a>
                    </li>
                    <li><a href="customer-orders.html">Orders</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Top categories</h4>

                <ul>
                    <li><a href="category.html?tags=magic">Magic</a>
                    </li>
                    <li><a href="category.html?tags=sport">Sport</a>
                    </li>
                    <li><a href="category.html?tags=action">Action</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Where to find us</h4>

                <p><strong>Magic-Wears Ltd.</strong>
                    <br>C-1050, Plot No. 81, Tilak Nagar,
                    <br>New Delhi
                    <br>122001
                    <br>India
                </p>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->


            <div class="col-md-3 col-sm-6">

                <h4>Stay in touch</h4>

                <p class="social">
                    <a href="https://twitter.com/weaveworks" class="twitter external"
                       data-animate-hover="shake"><i
                            class="fa fa-twitter"></i></a>
                    <a href="mailto:help@weave.works" class="email external"
                       data-animate-hover="shake"><i
                            class="fa fa-envelope"></i></a>
                </p>


            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->


<!-- *** COPYRIGHT ***
_________________________________________________________ -->
<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© 2015-2020 <a href="http://weave.works">MagicWears</a></p>

        </div>
        <div class="col-md-6">
            <p class="pull-right">Powered By: <a
                    href="http://bootstrapious.com/e-commerce-templates">Bootstrapious</a>
            </p>
        </div>
    </div>
</div>
<!-- *** COPYRIGHT END *** -->
